Voice Agent.json
{
  "name": "Voice Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful tool calling agent , call the tools whenever user ask to do the task\n\nMy tool mapping list:\nGmail- when user ask to send email, call this tool\ngoogle sheet-when user ask to update in the sheet,call this tool\nserpapi-when user want to search from the internet,call this tool\ngoogle docs-when user ask to create a document,call this tool\ngoogle calender- when user want to schedule the event,call this tool\n\n current time: {{ $now }}\n\nstrictly follow the IST time and act accordingly\n\n",
          "maxIterations": 5,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        -48
      ],
      "id": "6969f09f-0d49-414a-b883-dafbc5cf2e1a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        304
      ],
      "id": "e5e3277f-e9bb-4059-8997-ed47a5578716",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mj5VTaygbyDxxs7q",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        96,
        288
      ],
      "id": "bf2757b5-7154-41b1-a58a-c8ac1f931efd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        640,
        304
      ],
      "id": "784525bf-4df1-43b0-9be7-5df403144497",
      "name": "Gmail",
      "webhookId": "9823302f-ed58-4dae-9384-15293713463e",
      "credentials": {
        "gmailOAuth2": {
          "id": "mCPqvnxDObxqQyeq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ponmathirk@gmail.com",
          "mode": "list",
          "cachedResultName": "ponmathirk@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        304
      ],
      "id": "a2decdbd-644b-492f-9311-7d55be421b83",
      "name": "Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6wCxPpxcYgrzryKr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xxa4yyxl3gD1XE47OL61n1z1DMoZAgrcgyAZgfirntM",
          "mode": "list",
          "cachedResultName": "Student Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxa4yyxl3gD1XE47OL61n1z1DMoZAgrcgyAZgfirntM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "student details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xxa4yyxl3gD1XE47OL61n1z1DMoZAgrcgyAZgfirntM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Course ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Course_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course ",
              "displayName": "Course ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        416,
        304
      ],
      "id": "b9be4ebe-8502-4536-ba3c-a2c46be20059",
      "name": "Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ghRgBwkAUpJLhMtu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "=https://docs.google.com/document/d/1uOn4GVzNFZ1g6rE8Rpx2UmZ9mDAbC_rEP-pz9TvE1yg/edit?tab=t.0",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        528,
        304
      ],
      "id": "8108ca4b-43e6-4412-b410-108dbfa3f625",
      "name": "Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "2MASCywOLSP2oxy6",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__q_', ``, 'string') }}",
        "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location__location_', ``, 'string') }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "9a191700-3f3b-4e85-b6f9-84647905b5a9",
      "name": "SerpApi",
      "credentials": {
        "serpApi": {
          "id": "nQBxq5bCGJyWcbfy",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -208
      ],
      "id": "c17537e3-3a4b-487d-b714-865c169405e6",
      "name": "Telegram Output",
      "webhookId": "65f7f2a0-92d8-4b53-88b9-133e551ca933",
      "credentials": {
        "telegramApi": {
          "id": "krwSRIIe4dTs6pI3",
          "name": "GEN AI"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "8e1769c6-1b08-4acc-8d22-7165c13c6abb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2beb623b-1136-4d00-b259-2974623426cc",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -272,
        -48
      ],
      "id": "0f4e61ae-c1d1-46e8-9d2f-580febf6316d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        -160
      ],
      "id": "d16378fd-ca8d-46ec-b7c3-35080929c104",
      "name": "Get a file",
      "webhookId": "1dbef490-6ea7-4652-8f4c-f23cefadf315",
      "credentials": {
        "telegramApi": {
          "id": "krwSRIIe4dTs6pI3",
          "name": "GEN AI"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        48,
        -160
      ],
      "id": "8ae687b7-caca-4a73-a8da-eaab34d43131",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "Mj5VTaygbyDxxs7q",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37345210-701e-4b34-b081-def2fd554240",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -160
      ],
      "id": "51069013-6607-4851-ae39-a65241b04f17",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37345210-701e-4b34-b081-def2fd554240",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        32
      ],
      "id": "6e223699-496d-43e2-84df-34a6868ca596",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "summarize the input with high accuracy, ensuring clarity and conciseness. Focus on delivering a contextually  rich summary that is optimized for speech synthesis"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        16
      ],
      "id": "41f951e7-243e-4f77-91b9-209d80bd5b26",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        208
      ],
      "id": "7750b71e-fc69-48ab-8cd0-6aceb7f07a58",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Mj5VTaygbyDxxs7q",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1184,
        16
      ],
      "id": "03889644-2c7b-440b-b997-ecc0af89f41e",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "Mj5VTaygbyDxxs7q",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        16
      ],
      "id": "07affa8a-6ecd-480f-ae74-0594b377d2b2",
      "name": "Send an audio file",
      "webhookId": "f43aa92b-2551-4792-8e32-9822937c15ed",
      "credentials": {
        "telegramApi": {
          "id": "krwSRIIe4dTs6pI3",
          "name": "GEN AI"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -64
      ],
      "id": "d21706ab-37f6-492b-9c8e-48a48c2525df",
      "name": "Telegram Trigger",
      "webhookId": "abb6ffd4-6f81-46d4-8360-6bbf792b9466",
      "credentials": {
        "telegramApi": {
          "id": "krwSRIIe4dTs6pI3",
          "name": "GEN AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "74bb0fac-3ccc-457c-963a-80d9690d4d52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "651b2183b5b013b222c168e173d2c63e420a3d95b59e15828e2f0a96bb3e5806"
  },
  "nodeGroups": [],
  "id": "oZ29SJbuObebs90p",
  "tags": []
}